<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h2>Brands</h2>

    <!-- Top row with form-->
    <div class="row" style="padding-top: 0.3rem;">
        <div class="col-12">
            <form class="form-inline" id="searchForm" style="display:inline-block; width: 100%;">
                <label for="" style="display:inline-block">Brand</label>
                <select name="searchBrand" id="enterInputBrand" style="color: #495057; width: 15%; height: calc(1.5em + .75rem + 2px); border: 1px solid #ced4da;border-radius: 0.25rem; padding-left: 1%;">
                </select>
                <label for="" style="display:inline-block; margin-left:1%">Category</label>
                <select name="searchCategory" id="enterInputCategory" style="color: #495057; width: 15%; height: calc(1.5em + .75rem + 2px); border: 1px solid #ced4da;border-radius: 0.25rem; padding-left: 1%;">
                </select>
                <button type="button" class="btn btn-secondary" id="search-brand" style="margin-left:1%">Search</button>
                <button type="button" class="btn btn-info" id="add-brand" style="margin-left: 27%; margin-right: 5px;">Add</button>
                <button type="button" class="btn btn-info" id="upload-data" style="margin-right: 5px;">Upload</button>
                <button type="button" class="btn btn-info" id="report-brand">Report</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="brand-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action(s)</th>
                </tr>
                </thead>
                <tbody id="brand-table-body">
                </tbody>
            </table>

        </div>
    </div>

    <!-- Brand Add Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="add-brand-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Brand</h5>
                    <button type="button" class="close" id="modal-cut-brand" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-left: 5%;">
                    <form class="form-inline" id="brand-add-form">
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputBrand" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Brand</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="brand" placeholder="enter brand">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputCategory" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Category</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category" placeholder="enter category">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal-cancel-brand">Cancel</button>
                    <button type="button" class="btn btn-primary" id="modal-add-brand">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Brand Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-left: 5%;">
                    <form class="form-inline" id="brand-edit-form">
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputBrand" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Brand</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="brand" placeholder="enter brand">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputCategory" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Category</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category" placeholder="enter category">
                            </div>
                        </div>
                        <input type="hidden" name="id" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-brand">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Brand upload Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brand-file">
                        <input type="file" class="custom-file-input" id="brandFile">
                        <label class="custom-file-label" for="brandFile" id="brandFileName" style="margin-left: 3%; margin-right: 3%; margin-top: 2%;">Choose file</label>
                    </div>
                    <a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                    <button type="button" class="btn btn-primary" id="process-data">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Brand Report Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="report-brand-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Brand Report</h5>
                    <button type="button" class="close" id="modal-cut-brand-report" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-left: 5%;">
                    <form class="form-inline" id="brand-report-form">
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputBrand" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Brand</label>
                            <div class="col-sm-10">
                                <select name="brand" id="enterInputBrandReport" style="color: #495057; width: 61.3%; height: calc(1.5em + .75rem + 2px); border: 1px solid #ced4da;border-radius: 0.25rem; padding-left: 2%;">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%; padding-bottom: 1%;">
                            <label for="inputCategory" class="col-sm-2 col-form-label" style="padding-left: 0; display: block;">Category</label>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" name="category" placeholder="enter category">-->
                                <select name="category" id="enterInputCategoryReport" style="color: #495057; width: 61.3%; height: calc(1.5em + .75rem + 2px); border: 1px solid #ced4da;border-radius: 0.25rem; padding-left: 2%;">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal-cancel-brand-report">Cancel</button>
                    <button type="button" class="btn btn-primary" id="modal-report-brand">Download</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brand.js}"/></script>


</body>

</html>