<!doctype html>

<html lang="en">

<head>

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>


<div class="container">

<div class="row">

<div class="card">
  <div class="card-header">
    Features
  </div>
  <div class="card-body">
    <h5 class="card-title">Features of this application</h5>
    <p class="card-text">This application is for giving training on Spring applications</p>
   
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Spring Configuration</li>
	    <li class="list-group-item">Layering - Repositories, Services, Controllers, Components, Configuration</li>
	    <li class="list-group-item">REST controllers</li>
	    <li class="list-group-item">UI using ThymeLeaf</li>
	    <li class="list-group-item">JUnit Testing</li>
	    <li class="list-group-item">Authentication and Authorization</li>
	    <li class="list-group-item">File uploading and downloading</li>
	  </ul>
	     
  </div>
</div>

</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>	

</html>