<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

	<h2>Home</h2>

	 <!-- Top row with form-->
	<div class="row" style="margin-left: 10%; margin-top: 5%;">
		 <div style="text-align: center;">
			<a th:href="@{/ui/brand}" title="Brands" style="text-decoration: none;">
				<i class="fa fa-tags fa-7x"></i>
				<h3 style="margin-top: 15px;">BRANDS</h3>
			</a>
		 </div>
		<div style="text-align: center; margin-left: 11%;">
			<a th:href="@{/ui/product}" title="Products" style="text-decoration: none;">
				<i class="fa fa-box-open fa-7x"></i>
				<h3 style="margin-top: 15px;">PRODUCTS</h3>
			</a>
		</div>
		<div style="text-align: center; margin-left: 11%;">
			<a th:href="@{/ui/inventory}" title="Inventory" style="text-decoration: none;">
				<i class="fa fa-warehouse fa-7x"></i>
				<h3 style="margin-top: 15px;">INVENTORY</h3>
			</a>
		</div>
		<div style="text-align: center; margin-left: 11%;">
			<a th:href="@{/ui/order}" title="Order" style="text-decoration: none;">
				<i class="fa fa-shopping-bag fa-7x"></i>
				<h3 style="margin-top: 15px;">ORDERS</h3>
			</a>
		</div>
	</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>