<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

	<h2>Home</h2>

	 <!-- Top row with form-->
	<div class="row" style="margin: 50px;">
		 <div class="col-2" style="text-align: center;">
			<a th:href="@{/ui/brand}" title="Brands" style="text-decoration: none;">
				<i class="fab fa-bimobject fa-7x"></i>
				<h3 style="margin-top: 15px;">Brand</h3>
			</a>
		 </div>
		&ensp;
		&ensp;
		<div class="col-2" style="text-align: center;">
			<a th:href="@{/ui/product}" title="Products" style="text-decoration: none;">
				<i class="fab fa-product-hunt fa-7x"></i>
				<h3 style="margin-top: 15px;">Product</h3>
			</a>
		</div>
		&ensp;
		&ensp;
		&ensp;
		&ensp;
		<div class="col-2" style="text-align: center;">
			<a th:href="@{/ui/inventory}" title="Inventory" style="text-decoration: none;">
				<i class="fa fa-warehouse fa-7x"></i>
				<h3 style="margin-top: 15px;">Inventory</h3>
			</a>
		</div>
		&ensp;
		&ensp;
		&ensp;
		&ensp;
		<div class="col-2" style="text-align: center;">
			<a th:href="@{/ui/order}" title="Order" style="text-decoration: none;">
				<i class="fa fa-shopping-bag fa-7x"></i>
				<h3 style="margin-top: 15px;">Order</h3>
			</a>
		</div>
		&ensp;
		&ensp;
		<div class="col-2" style="text-align: center;">
			<a th:href="@{/ui/home}" title="Report" style="text-decoration: none;">
				<i class="fa fa-file fa-7x"></i>
				<h3 style="margin-top: 15px;">Report</h3>
			</a>
		</div>
	</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>