<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container">
<div class="row">
<div class="col-6">
 
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to Increff Spring Tutorial</p>
  <hr class="my-4">
  <p>This application teaches you Spring concepts and creating awesome web applications</p>
  <a class="btn btn-primary btn-lg" th:href="@{/site/login}" role="button">Get Started</a>
</div>

</div>
</div>
</div> <!--Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
