<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container">
<div class="row">
<div class="col-8">
 
<div class="jumbotron" style="margin-top:30px; background-color: #d1d1ff;" >
  <div class="container">
  <h1 class="display-4">Hello There!</h1>
  <p class="lead">Welcome to <b><i>PoSify</i></b></p>
  <hr class="my-4">
  <p><b>PoSify</b> is a PoS (Point of Sale) system where you can add brands & products, keep track of inventory and create orders and their reports.</p>
  <a class="btn btn-primary btn-lg" th:href="@{/ui/home}" role="button">Get Started</a>
  </div>
</div>

</div>
</div>
</div> <!--Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
