<head th:fragment="name_head" xmlns="">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">
  <link rel="icon" type="image/x-icon" href="../static/fav.ico">
  <title>PoSify</title>

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1" th:fragment="name_site_navbar">
  <span style="width: 5%;">
    <a class="navbar-brand" th:href="@{/}">
      <h1 style="color: yellow;"><b><i>PoSify</i></b></h1>
    </a>
  </span>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1" th:fragment="name_app_navbar">
  <span class="navbar-brand" style="width: 5%;">
    <a class="navbar-brand" th:href="@{/}">
      <h1 style="color: yellow;"><b><i>PoSify</i></b></h1>
    </a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 60px;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/home}"  style="font-weight: 600; font-size: 20px;">Home&ensp;</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" th:href="@{/ui/brand}"  style="font-weight: 600; font-size: 20px;">Brands&ensp;</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" th:href="@{/ui/product}" style="font-weight: 600; font-size: 20px;">Products&ensp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/inventory}" style="font-weight: 600; font-size: 20px;">Inventory&ensp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/order}" style="font-weight: 600; font-size: 20px;">Order&ensp;</a>
      </li>
    </ul>
    
        
  </div>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer" style="height: 5%; padding-bottom: 5px;">
	<b>Copyright PoSify 2022</b>
	&nbsp;
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/static/app.js}"/></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
    <script th:src="@{/static/notify.js}"/></script>
	
</footer>


